
img
  {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }
#fieldt{
  position: relative;
  top: 30%;
  text-align: center;
  border: 5px solid rgba(255, 255, 255, .5);
}
#go{
    height:40px;
    width:100px;
  } 
#Sign-up{
  height:40px;
  width:100px;
}
fieldset {
  position:absolute;
  top: 25%;
  left: 35%; 
  border: 1px solid rgb(255,255,255);
  width: 390px;
  text-align: center;
  margin:auto;
  border: 5px solid rgba(255, 255, 255, .5);
}
#login{
  top: 30%
}
#legendid{
  background-image: url('reicon.jpg');
}
#regmodal{
  position: absolute;
  left: 50%;
  top: 40%;  
  transform: translate(-50%, -50%);
}