#subjd{
  width: 280px;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ff0000;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#webmailer {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #2cb709;
}

.active {
    background-color: #4CAF50;
}
#msgarea{
  height: 290px;
  width: 480px;
  max-width: 480px;
  position: relative;
  left: 0px;
  border-color: black;
}
#addb{
}
#status{
  margin-top: 25px;
  width: 490px;
  height: 200px;
  border-color: black;  
}
#imagedes{
  margin-top: 10px;
}
#linkdes{
  margin-top: 10px;
  position: relative;
}
#sendb{
  vertical-align: middle; 
  height: 35px;
  width: 85px;  
}

@media (max-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

  /*#selectors{
    position: relative;
    float: right;
    right: -232px;
    height: 60%;
      width: 33.5%;

  }*/
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
    #hide{
      width: 2%;
    }
  #selectors{
      position: relative;
      float: right;
      right: -232px;
      height: 60%;
        width: 100%;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}



/*//add recipient not refreshes the page every click
//ajax status progress bar - monday pending
//login nagsasave database
//register - 
//make a log for admin view it can be a separate page
//image link that is upload to cloudinary is save to a database.
//member authentication - tentative
// authentative*/